@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Create";
}

<h1>Available Products</h1>

<table class="table">
    <caption>Store Inventory</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Add to Order", "PlaceOrder", new { id = item.Title}) |
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>